<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Django</title>

</head>
<link rel="stylesheet" href="{% static 'css/base.css' %}">

<body>
<a href="{% url 'home' %}">Home</a>
<a href="{% url 'post_new' %}">New Blog</a>


{% if user.is_authenticated %}

    <a href="{% url 'logout' %}"> Logout </a>
{% else %}
    <p>You are not login </p>
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'signup' %}">Signup</a>
{% endif %}
{% block content %}
{% endblock %}
</body>
</html>