{% extends 'base.html' %}


 {% load static %}


{% block content %}
    <div class="container">
    <div>
        <div class="row">
            {% for post in object_list %}
            <div class="col-sm-4">
                <h1><a href="{% url 'post_details' post.pk %}">{{ post.title }}</a></h1>
                <p>{{ post.body }}</p>

                <a href="{% url 'post_edit' post.pk %}">Edit</a>
                <a href="{% url 'post_delete' post.pk %}">Delete</a>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}